@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue Regular";
}
/*HEADER*/
.top {
	position: relative;
	background-image: url('../img/menu.png');
	height: 36px;
}
.topMenu {
	position: absolute;
	height: 36px;
	font-size: 14px;
	left: 477px;
}
.topMenu li {
 	float: left;
 	list-style: none;
 	width: 70px;
 	text-align: center;
}
 .topMenu li a {	
	display: block;
 	line-height: 36px;
 	color: #60b5ed;
 	text-decoration: none;
 	font-size: 14px;
}
.topMenu li:first-child {
	width: 160px;
}


/*REGISTRATION*/
.registration {
	float: right;
	height: 20px;
	margin-right: 20px;

	width: 159px;
	padding: 8px 13px;
	color: white;
	font-size: 14px;
}
.registration a {
	color: #fefefe;
	text-align: center;
}

/*FLAG*/
.flag {
	float: right;
	height: 20px;
	width: 130px;
	border-left: 1px solid #56a2dc;
    font-size: 14px;
    padding: 8px 13px;
}
.flag a {
	text-decoration: none;
	color: #fefefe;
    text-align: center;
    padding-left: 10px;
}
.topMenu li>a:hover {
	color: #ffffff;
	background-color: #4eabda;
}
.flag:hover, .registration:hover {
	 background: #4faedb;
  background-image: -webkit-linear-gradient(top, #4faedb, #2e7ac4);
  background-image: -moz-linear-gradient(top, #4faedb, #2e7ac4);
  background-image: -ms-linear-gradient(top, #4faedb, #2e7ac4);
  background-image: -o-linear-gradient(top, #4faedb, #2e7ac4);
  background-image: linear-gradient(to bottom, #4faedb, #2e7ac4);
  text-decoration: none;
}

.MainFon {
	background-repeat: no-repeat;
	background-attachment: fixed; 
	position: fixed;
    height: 100%;
    width: 100%;
}

/*FORMA*/
.FormFon {
 	position: absolute;	
 	top: 50%;
    left: 50%;  
	height: 550px;
 	width: 500px;
    margin: -275px 0 0 -250px;  
	background-color: rgba(0, 0, 0, 0.5);
}
.header {
	text-align: center;
	line-height: 50px;
	height: 50px;
	border-bottom: 2px solid #b3bba4;
	color: white;
	font-size: 24px;
}
*:focus {
	outline: none;
}
form {
	width: 280px;
	margin: 20px 110px;	
}

/*BUTTON*/
.button {
	width: 277px;
	height: 35px;
	border-bottom: #363f66;
	border-left: #384975;
	border-right: #354873;
	border-top: #7789bb;
 
    margin-left:  108px;
    margin-top: 25px;

	border-radius: 5px;
    background: rgb(62,84,157); /* Old browsers */
    background: -webkit-linear-gradient(top,  rgba(62,84,157,1) 0%,rgba(47,64,120,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(62,84,157,1) 0%,rgba(47,64,120,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.button a { 
    text-decoration: none; 
} 
.icon {
	width: 38px;
	height: 30px;
	border-right: 1px solid #263c75;
	float: left;	
	text-align: center;
    font-size: 26px; 
	color: white;	
}
.bodyButton {
	width: 177px;
	height: 30px;
    padding: 7px 20px;
	float: left;
	text-align: center;
	font-size: 14px;
	color: white;
}

/*BODY_FORMA*/
.forma li {
 	list-style: none;
 	width: 276px;
 	height: 55px;
} 
.forma li:nth-child(8) {
	height: 35px;
}
input[type=text], input[type=email], input[type=password] {
	width: 274px;
	height: 33px;
	background-color: #0f0f0f;
	font-size: 14px;
	border: 1px solid #0f0f0f;
	border-bottom: 1px solid #484846;
} 
::-webkit-input-placeholder {
	padding-left: 10px;
	color: #cccccc;
}
input[type=password]:focus, input[type=email]:focus, input[type=text]:focus {
	background-color: #1b5288;
	border: 1px solid #1b5288;
	border-bottom: 1px solid #689bcc; 
	-webkit-box-shadow: 0px 0px 10px 6px rgba(66,113,144,1);
	-moz-box-shadow: 0px 0px 10px 6px rgba(66,113,144,1);
	box-shadow: 0px 0px 10px 6px rgba(66,113,144,1);
} 
.forma li span {
	color: #cccccc;
	font-size: 14px;
}
input[type=submit] {
	width: 149px;
 	height: 32px;
	color: #ffffff;
	font-size: 14px;
	margin-left: 63px;
	border-top: 1px solid #67c6e6;
	border-left: 1px solid #52a0da;
	border-bottom: 1px solid #3686ca;
	border-right: 1px solid #489cd5;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(78,171,218,0.99)), color-stop(50%,rgba(42,138,216,1)), color-stop(100%,rgba(46,122,196,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(78,171,218,0.99) 0%,rgba(42,138,216,1) 50%,rgba(46,122,196,1) 100%); /* Chrome10+,Safari5.1+ */
} 
.footer {
	position: absolute;	
	text-align: center;
	font-size: 11px;
	color: #afaeac;
	top: 513px;
    left: 94px;
}