* {
	margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
}
body {
  background: #f9f9f9; 
}
.primary {
	 width: 1060px; 
     min-height: 850px;
     margin: 0 auto;       
     background: #ffffff; 
     box-shadow: 0 0 10px rgba(0,0,0,0.3);	
}

/*HEADER*/
h1 {
	padding: 47px;
	font-family: "Tahoma", sans-serif;
}
.header {
	width: 970px;
	height: 40px;
	margin-left: 45px;
	background: #545454;
}
.header li {
	width: 100px;
	line-height: 40px;
	display: inline-block;	
	text-align: center;
}
.header a {	
	display: block;
	color: #ebebeb;
	font-family: "Tahoma", sans-serif;
}
.header li a:hover {
     background: #3e3e3e;  
     border-left: 1px solid #ffffff; 
     border-right: 1px solid #ffffff; 
}

 
 /*SIDEBAR*/
 .sidebar { 
 	width: 200px;  	
 	margin-left: 45px; 	
 	margin-top: 45px; 
 	display: block;
 	float: left;  
 }
 .list li{	
	width: 200px;
	padding-left: 20px;
	line-height: 30px;
	text-align: left;
	display: inline-block;
	border: 1px solid #c8c8c8;
}
.list a{	
	display: block;
	color: #abaaaa;	
	font-family: "Tahoma", sans-serif;
}
.list li:hover {  
    background: #f9f9f9;  
}
.list li a:hover{
    color: #2c2c2c;	
    padding-left:10px; 
}


/*CONTENT*/
.content { 
 	width: 720px;
 	float: right;
 	padding-right: 45px;  
 	padding-top: 45px;  
 }
.image {
 
	border: 1px solid #c8c8c8;
	 text-align: center;
}

p {
	padding: 30px;
    font-family: "Tahoma", sans-serif;
}


  /*FOOTER*/
.footer {
	width: 970px;
	height: 40px;	
	margin-left: 45px;
	margin-top: 600px;
	background: #e1e1e1;
 }
.menu li {
	width: 100px;
	line-height: 40px;
	display: inline-block;	
	text-align: center;
}
.menu li a, .copy_r {
	display: block;
	color: #2c2c2c;	
	font-family: "Tahoma", sans-serif; 
}
.menu li a:hover {
    text-decoration: underline;
}
.copy_r {
	float: right;
	height: 40px;
	margin: 0;
	padding-top: 10px;
	padding-right: 10px;
}