* {
	margin: 0;
    padding: 0;
    font-family: "Tahoma", sans-serif; 
}
body {
  background: #f9f9f9; 
}
.primary { 
	width: 964px; 
	margin: 0 auto; 
	padding: 50px 46px 60px 46px; 
	background-color: white; 
	box-shadow: 0 5px 5px rgba(0,0,0,0.3); 
}


/*HEADER*/

.logo img{	
	width: 125px;
	height: 35px;
}

.header {	
	margin: 40px 0;
	background: #545454;
}
.header ul li {
	width: 100px;
	line-height: 40px;
	text-align: center;
	list-style: none; 
	display: inline-block;	
}
.header ul a {	
	display: block;
	text-decoration: none;
    list-style: none;
	color: #ebebeb;
}
.header ul li a:hover {
     background: #3e3e3e;  
     border-left: 1px solid #ffffff; 
     border-right: 1px solid #ffffff; 
}

 
 /*SIDEBAR*/

 .sidebar { 
 	float: left;
 	border: 1px solid #c8c8c8; 
 } 
.sidebar ul li {
	line-height: 40px; 
	text-align: left; 
	padding-left: 20px; 
	list-style: none; 
	border-bottom: 1px solid #c8c8c8; 
} 
.sidebar ul a {
	width: 214px;
	display: block; 
	text-decoration: none; 
	list-style: none; 
	color: #abaaaa; 
} 
.sidebar li:last-child { 
	border-bottom: none; 
} 
.sidebar ul li:hover {
	background: #f9f9f9;
}
.sidebar ul li a:hover {
	color: #2c2c2c; 
	padding-left: 10px; 
	width: 204px;
}



/*CONTENT*/

.content { 
 	width: 70%;
 	float: right;
 }
 .image {
	padding: 40px;
	border: 1px solid #c8c8c8;
	text-align: center;
}
.content p {
	margin: 40px;
}  


  /*FOOTER*/
 
.clearfix:after {
	content: '';
	clear: both;
	display: block;
}
.footer {
	height: 40px;
	padding: 0 24px;
	background-color: #e1e1e1;
}
.footer li {
	float: left;
	margin: 0 40px;
	list-style:none;
}
.footer li:first-child {
	margin-left: 0;
}
.footer li a,.copy_r p{
	display: block;
	line-height: 40px;
	text-decoration: none;
	color: #2c2c2c;
	list-style:none;
}
.footer li a:hover {
	text-decoration: underline;
}
.copy_r {
	float: right;
} `