* {
	margin: 0;
    padding: 0;
   
}
body {
	background-image: url("../img/backgroundNew.jpg");
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: top;
    font-family: Tahoma, Arial, sans-serif;
}
.main {
	 width: 999px; 
     min-height: 670px;
     margin: 0 auto;       
     background: #ffffff; 
     box-shadow:  0 0 10px 2px rgba(0,0,0,0.3);	
}

/* HEADER */
.logo {
    float: left;
    padding-top: 12px;
    padding-left: 30px;
    height: 162px;
}
.contact {
	margin: 12px 30px;    
	float: right;	
	color: #128aa7; 
    font-size: 12px;
}
.clearfix:after{
  content: '';
  display: block;
  clear: both;
  height: 0;
  width: 100%;
}
.countriesList {   
    float: right;
    clear: right;
    margin-top: 30px;
    margin-right: 30px;
    list-style: none;
}
.countriesList li {
    float: left;  
    margin-right: 3px; 
    width: 53px; 
    text-align: center;
}   
.countriesList li a {    
    display: block; 
    background-position: center top; 
    background-repeat: no-repeat;
    color: #128aa7;    
    font-size: 10px;
}
.blue-lines {
    height: 235px;
}

/* SIDEBAR */
.sidebar {
	border-bottom: 1px solid #000;
    border-top: 1px solid #cacbcb;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(55,55,55,1)), color-stop(100%,rgba(48,48,48,1))); Chrome,Safari4+
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}
.sidebar li {
  position: relative;
  float: left;
  list-style: none;
}
.sidebar li a {
  position: relative;
  padding: 0 35px;
  display: block;
  line-height: 28px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.sidebar li:nth-child(2):after, .sidebar li:nth-child(3):after, .sidebar li:nth-child(4):after {  
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 10px;
  height: 6px;
  width: 5px; 
  background: url("../img/triangle.png") 0 0 no-repeat;
}
.sidebar ul {
  position: absolute;
  left: 23px;
  visibility: hidden;
}
.sidebar li:hover ul {
  visibility: visible;
  opacity: 1;
  top: 100%;
}
.sidebar ul li {
  background: #303030;
  box-shadow: 0px 9px 12px 0px rgba(0,0,0,0.75);
}
.sidebar ul a {
  padding: 0 10px;
} 

/* FOOTER */

.Column {
    overflow: hidden;
}
.contentRight {
    width: 210px;
    float: right;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
    background: #edeef0; 
    border-right: 1px solid #c7cacf;
    border-left: 1px solid #c7cacf;        
}
.contentCenter {
    width: 575px;
    float: left;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
    background: #ffffff; 
}
.contentLeft {
    width: 210px;
    float: left;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
    background: #edeef0; 
    border-right: 1px solid #c7cacf;
    border-left: 1px solid #c7cacf; 
}
.contentRight {  
    color: #7d837f;
    font-size: 14px;
    text-align: center;
}
.contentLeft {
    color: #7d837f;
    font-size: 14px;
    text-align: center;
} 
.title {
    color: #424c43;
    font-size: 18px;
    text-align: center;    
}

.copyright p {
    margin: 5px;
    color: white;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    text-align: center;
}