* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  font-family: Tahoma, sans-serif;
}
.wrapper {    
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 40px;
  max-height:100%;
  overflow-y:auto;
}
.logo{
  height: 100px;
  text-align:center;
  display: block; 
  margin: 0 auto;
  padding: 27px; 
}
input[type=text] { 
  padding: 0 19px;
  width: 520px;
  line-height: 38px;   
  border: 1px solid #d9d9d9;
  display: block; 
  margin: 0 auto;
}
input[type=submit] {
  display: block; 
  margin: 0 auto;
  margin-top: 20px;
  width: 149px;
  height: 32px;
  color: #73736A;;
  border: 1px solid #f2f2f2;
}
input[type=submit]:hover {
  color: black;
  border: 1px solid #73736A;
}
.resultsSearch{
  width: 85%;
  padding: 20px 0;
  margin: 0 auto; 
  overflow: auto;
}
.linkWrapper{
  list-style: none; 
}
.linkTitle, .linkTitle>b {
  text-decoration: none;
  color: #1a0dab;
  font-size: 20px;

}
.linkTitle:hover{
  text-decoration: underline;
}
.linkSearch {
  color: #2f6621;
}
.linkValue {
  color: #595459;
}