body{
  background-color: #EEEEEE; 
}
.primary{
  width: 420px; 
  min-height: 750px;
  margin: auto;       
  background: #FFFFFF; 
  padding: 30px 50px;
}
h2{
  text-align:  center;
}
.hr{
  border-bottom: 1px solid #000;
}
ul {
  padding-top: 30px; 
  line-height: 1.6;
}
p{
  font-size: 13pt; 
}  
   